@{
    ViewData["Title"] = "Home Page";
}

<header id="header" id="home">

    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/images/coffee1.png" height="40" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#home">Home</a></li>
                    <li><a href="#coffee">Best Coffee</a></li>
                    <li><a href="#review">Review</a></li>
                    <li><a href="#blog">Jenis</a></li>
                    <li><a href="login_admin.html">Login Admin</a></li>

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<!-- start banner Area -->
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content">
                <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                <h1>
                    Find your Coffee with<br>
                    Coffee Journey
                </h1>
                <div class="explore">
                    <a href="#coffee" class="genric-btn primary circle">Explore Now</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Start menu Area -->
<section class="menu-area section-gap" id="coffee">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Enam Kucing terbaik menurut kami</h1>
                    <p>Kucing mana menurut kamu</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing Persia</h4>

                    </div>
                    <p>
                        Kucing Persia pertama kali ditemukan tahun 1871 dan diakui 
                        secara resmi pada tahun 1890. Kucing ini menjadi salah satu 
                        kucing paling populer di kalangan pecinta kucing karena bulunya 
                        yang lebat dan wajahnya yang menggemaskan. Kucing Persia sendiri 
                        memiliki jenisnya lagi seperti Short Hair Persian.
                    </p>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing Ashera</h4>

                    </div>
                    <p>
                        Kucing jenis Ashera dikenal sebagai kucing hibrida Afrika 
                        dan kucing macan Asia. Kucing ini menjadi yang paling langka 
                        di dunia karena kecerdasan dan kesetiaannya. Kucing ini disilangkan
                        oleh perusahaan Lifestyle Pets yang berfokus pada hewan peliharaan eksklusif.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing British</h4>

                    </div>
                    <p>
                        Kucing bulu pendek britania adalah salah satu ras kucing tertua yang 
                        nenek moyang dipercayai memiliki hubungan dengan bangsa Romawi yang 
                        pernah dahulu menguasai Inggris. Kucing ini adalah kucing berbadan 
                        sedang dengan bulu yang pendek.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing Savannah</h4>
                    </div>
                    <p>
                        Kucing ini juga berasal dari hibrida Afrika. Kucing ini merupakan 
                        hasil dari persilangan kucing domestik dan kucing serval di Afrika.
                        Ashera adalah salah satu dari ras kucing terbesar di dunia. 
                        Tingkahnya yang sangat aktif membuat kucing ini membutuhkan ruang yang luas.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing Russian Blue</h4>

                    </div>
                    <p>
                        Kucing biru rusia adalah salah satu ras kucing yang memiliki bulu 
                        berwarna perak biru. Kucing ini sangat cerdas dan lucu, tetapi 
                        cenderung pemalu di sekitar orang asing. Kucing biru rusia merupakan 
                        kucing yang memiliki ikatan yang erat dengan sahabatnya manusia.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kucing Bengal</h4>

                    </div>
                    <p>
                        Ras Bengal populer karena keindahan corak bulunya yang seperti 
                        harimau dengan pola tutul dan garis. Ditemukan oleh seorang 
                        ilmuwan bernama Dr. Centerwall, kucing ini merupakan hasil 
                        persilangan dari kucing American Short Hair dan kucing Leopard Asia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu Area -->
<!-- End banner Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Jenis - Jenis Kucing Dari Seluruh Dunia</h1>
                    <p>Setiap kucing berbeda sesuai tempat asalnya</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingMoggie.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kucing Moggie</br></h4>
                </a>
                <p>
                    Kucing lokal biasanya dikenal sebagai ‘moggie’  adalah kucing
                    yang umumnya tinggal di rumah-rumah di Inggris. Kucing ini tidak
                    memiliki keturunan istimewa dan datang sebagai kucing liar dari 
                    daratan Afrika yang berbeda sekitar 8.000 tahun sebelum masehi
                    dan dapat ditemukan di hampir semua tempat dimana manusia hidup
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingExotic.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Exotic Shorthair</br></h4>
                </a>
                <p>
                    Kucing ini dikenal sebagai ‘wash-and-wear Persian’ karena perawatannya
                    yang mudah, bulunya yang selembut beludru dengan susunan warnanya yang
                    mempesona. Memiliki ciri yang sama dengan anak kucing adalah hal yang 
                    paling lucu, dengan mata bulatnya yang besar, telinganya yang kecil, mukanya
                    yang rata dan hidungnya yang pendek.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingJapaneseBobtail.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Japanese Bobtail</br></h4>
                </a>
                <p>
                    Japanese Bobtail berbulu panjang telah hidup beberapa abad lamanya di Orient 
                    yang memiliki bulu yang pendek. Japanese Bobtail adalah kucing yang kuat dan 
                    sehat dan biasanya memiliki tiga sampai empat anak kucing yang berukuran 
                    cukup besar dibandingkan dengan ukuran anak yang baru lahir. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingKorat.jpeg" height="100" alt="">
                <a href="#">
                    <h4><br>Korat</br></h4>
                </a>
                <p>
                   Korat adalah salah satu jenis kucing tertua di dunia dan dikenal di Negara aslinya,
                   Thailand sebagai “Si-Sawat” – kucing suci dan pengawas nasib baik. Bulu Korat yang 
                   bewarna silver memiliki arti dalam legenda terdahulu yang menunjukan kekayaan pada 
                   saudagar dan pedagar.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingMaineCoon.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Maine Coon</br></h4>
                </a>
                <p>
                    Maine Coons adalah kucing terbesar dari semua ras kucing domestik. Sebagian besar 
                    Maine Coon dapat memiliki berat hingga 15 kilogram. Mereka sangat kuat, perkasa, 
                    dan dapat bertahan dalam iklim yang berat. Jenis ras ini tampaknya merupakan persilangan 
                    antara kucing domestik berbulu pendek dan kucing luar negeri berbulu panjang
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingManx.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Manx</br></h4>
                </a>
                <p>
                    Ras kucing Manx adalah jenis kucing tanpa ekor dan berbeda dari kucing pada 
                    umumnya yang tidak berekor dan juga secara keseluruhan penampilannya sedikit 
                    berbeda karena kaki belakangnya lebih panjang dibandingkan kucing biasa. 
                    Dan ketika hewan ini berlari, mereka mirip dengan seekor kelinci, sangat menarik untuk disaksikan.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingNorwegianForest.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Norwegian Forest Cat</br></h4>
                </a>
                <p>
                    Kucing Norwegian Forest adalah jenis keturunan zaman purba yang berasal dari Norwegia, 
                    lebih dari 500 tahun yang lalu. Bahkan beberapa orang percaya bahwa kucing ini sudah 
                    berkembang biak sejak 2000 tahun yang lalu. Hewan yang cantik ini juga dikenal sebagai Wegie, 
                    Norskogkatt, Skogkatt atau Norskskaukatt. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingOcicat.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Ocicat</br></h4>
                </a>
                <p>
                    Ocicat adalah hewan yang besar dan aktif dengan tubuh yang berotot dan berbulu satin 
                    pendek dan langka yang menunjukan bintik-bintiknya. Pada tahun 1964, Ocicat yang asli 
                    adalah hasil tak terduga dari percobaan suatu perkawinan yang mencoba untuk menghasilkan 
                    kucing siam aby-point.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingOriental.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Oriental Shorthair</br></h4>
                </a>
                <p>
                    Oriental Shorthair adalah seekor kucing yang memiliki rasa penasaran yang tinggi dan 
                    sangat percaya diri, namun kedua hal itu dapat menjadi hal yang menyenangkan dan 
                    ancaman di dalam rumah. Jenis kucing ini dilimpahi karisma dan kecerdasan, senang 
                    mengambil resiko dalam hidupnya dan tidak dapat dipungkiri
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingPersian.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Persian</br></h4>
                </a>
                <p>
                    Kucing Persia adalah kucing ras asing pertama yang diimpor ke Thailand. 
                    Kucing Persia telah menjadi salah satu ras kucing paling populer baik l
                    okal maupun internasional. Mereka memiliki kepala bulat yang khas, dengan 
                    telinga kecil yang membulat di ujungnya.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/KucingRagdoll.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Ras kucing Ragdoll</br></h4>
                </a>
                <p>
                    Ragdoll adalah jenis kucing yang cocok untukmu! Kucing yang tenang, lembut 
                    dan mudah bergaul ini berasal dari Amerika Serikat, sebagaimana nama mereka 
                    diusulkan, mereka sangat santai dan suka bergantungan di tanganmu seperti 
                    rag doll. Umumnya mereka beranggapan bahwa sumbernya berkaitan dengan Colourpoint 
                    Persians.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/American Shorthair.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>American Shorthair</br></h4>
                </a>
                <p>
                    American Shorthair adalah salah satu ras kucing yang paling disukai karena terkenal 
                    dengan bulu berwarna perak yang khas dan corak seperti marmer. Ras Kucing American 
                    Shorthair adalah kucing berukuran sedang yang kuat. Asal Ras Kucing American Shorthair 
                    dari benua Eropa dan mulai dikembangkan di Amerika dikenal dengan nama American Shorthair 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Abyssinian.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Abyssinian</br></h4>
                </a>
                <p>
                    Binatang bertubuh mini ini mirip dengan cougar berukuran kecil. Jenisnya yang mempunyai 
                    corak kemerah-merahan memiliki bulu yang mempesona. Salah satu jenis kucing tertua yang 
                    dipercaya sebagian keturunan dari kucing suci di Mesir. Kini ras kucing Abyssinian dipelihara 
                    secara berhati – hati untuk warna, pola dan jenisnya. 
                    
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Balinese.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Balinese</br></h4>
                </a>
                <p>
                   Ras kucing Balinese adalah hewan yang aktif dan menyenangkan, yang suka berbicara dan mengikuti 
                   pemiliknya. Bulunya yang panjang adalah bagian dari Oriental family dan dikembangkan dari jenis 
                   kucing berbulu panjang yang ditemukan dalam keluarga Siamese di seluruh Amerika. Perawakannya 
                   yang elegan dan gerakannya menjadi inspirasi untuk namanya yang mengingatkan akan penari di pulau Bali. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Bengal.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Bengal</br></h4>
                </a>
                <p>
                    Ras Kucing Bengal berasal dari campuran keturunan berbagai jenis seperti Abyssinian, American 
                    Shorthair, Burmese, Egyptian Mau dan Asian Leopard. Ras Kucing Bengal adalah kucing yang unik 
                    dimana hanya satu-satunya jenis yang berbintik langsung dari keturunan - kucing Asian leopard 
                    dan tujuan dari menghasilkan kucing Bengal adalah untuk menciptakan kembali corak dari leluhurnya 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Birman.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Birman</br></h4>
                </a>
                <p>
                    Untuk seekor kucing yang mencolok dan tidak biasa, susah untuk tidak jatuh cinta pada kucing Birman, 
                    atau ‘Kucing suci dari Burma’ sebagaimana dikenal di negara asalnya. Kucing ini memiliki sikap yang 
                    tenang dan mempunyai mantel bulu bewarna pucat, wajah yang gelap, telinga, ekor dan kaki dengan ‘gloves’
                    putih disekitar cakarnya. Matanya yang sangat cantik, bewarna biru safir tua. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/British Shorthair.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>British Shorthair</br></h4>
                </a>
                <p>
                   British Shorthair adalah kucing berukuran sedang dengan bulu khas yang halus. Mereka kucing yang 
                   santai dan mudah untuk dirawat, dan juga mereka adalah salah satu ras kucing yang sangat mandiri. 
                   Orang-orang akan sangat menyukainya karena tampilan mereka sangat menggemaskan, namun British 
                   Shorthairs sebenarnya memiliki tubuh yang gagah dan kuat
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Burmese.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Burmese</br></h4>
                </a>
                <p>
                    Kucing Burmese, dengan penampilannya yang memukau dan sifatnya yang sangat penyayang, dia adalah 
                    kucing dengan kepribadian yang baik! Sifatnya yang selalu senang dan penuh kasih sayang adalah nalurinya, 
                    kucing Burmese senang bermain dan rasa penasarannya yang tinggi membuat mereka cocok sebagai teman main 
                    untuk anak-anak. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Burmilla.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Burmilla</br></h4>
                </a>
                <p>
                    Burmilla adalah kucing yang masuk dalam golongan Burmese dan watak yang sama. Warna dasarnya dari kucing 
                    ini adalah pure silver. Mata mereka memiliki garis mata berwarna gelap yang memberikan kontras yang indah. 
                    Kucing Burmilla adalah kucing yang anggun dan memiliki tubuh berukuran sedang juga berotot, kakinya yang
                    kuat juga panjang dan cukup tebal, dan ekor yang panjang. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Chinchilla.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Chinchilla</br></h4>
                </a>
                <p>
                    Chinchilla adalah kucing yang mempesona dengan bulu berwarna silver, sedangkan kucing Persians yang asli 
                    datang dari Turki dan mereka memiliki mantel bulu putih yang tebal. Kucing yang mudah bergaul dan ramah ini
                    berukuran besar dengan tubuh yang berbentuk persegi juga sedikit bulat dan muka yang pipih juga telinganya 
                    yang kecil. Mereka memiliki mata hijau yang berkilau sama dengan bulunya. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Cornish Rex.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Cornish Rex</br></h4>
                </a>
                <p>
                    Kucing yang elok dengan tubuh yang ramping dan gagah, keindahannya terletak pada hidungnya yang tajam dan 
                    bulu keritingnya yang terlihat dan terasa seperti beludru. Kucing dengan bulu ""poodle-like"" ini sangat 
                    mudah dipelihara dan cocok untuk pengidap penyakit asma, yang sebelumnya tidak dapat memiliki kucing dan 
                    kehilangan kesempatan merasakan kegembiraan membawa seekor kucing pulang ke rumahnya
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Devon Rex.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Devon Rex</br></h4>
                </a>
                <p>
                    Hewan dengan rupa yang tidak biasa ini dikenal sebagai “E.T” di dunia kucing dengan wajahnya yang pendek, 
                    pipi lebarnya, telinga yang lebar seperti sayap kelelawar dan tubuh yang runcing – tapi jangan pernah berpikir
                    bahwa hal-hal di atas membuat kucing ini tidak menarik, mereka juga memiliki akal jahat untuk membuat keonaran 
                    dan menyamarkan dirinya seperti peri. 
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Flores.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Flores</br></h4>
                </a>
                <p>
                    Kopi Flores nampaknya masih mendominasi daftar kopi terkenal dunia.
                    Kopi Flores yang berasal dari Flores, Nusa Tenggara.
                    Kopi Flores ada yang berupa kopi Arabica, ada pula yang berupa kopi Robusta.
                    Yang menjadikan khas dari kopi Flores ini adalah cita rasa asamnya
                    yang murni dan aroma lemon yang harum.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Lampung.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Lampung</br></h4>
                </a>
                <p>
                    Kopi yang bersal dari salah satu daerah diIndonesia yaitu kopi Lampung.
                    Kopi Lampung sebagian besar masih termasuk dalam jenis kopi robusta.
                    Kopi yang terkenal dengan rasa dan aromanya yang khas ini
                    banyak dibudidayakan di dataran tinggi
                    seperti di sekitar Lampung Tenah, Lampung Barat, dan daerah Tanggamus.
                </p>
                <br></br>
            </div>

        </div>
    </div>
</section>
<!-- End blog Area -->
<!-- Star Sponsor Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Sponsorship By</h1>
                    <p>Terimakasih Atas Kerjasamanya</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/DanainLogo.png" width="320" alt="">
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/PockeTravel.png" width="1000" alt="">

            </div>
        </div>
    </div>
</section>
<!-- End Sponsor Area -->
